.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
    padding: 10px;
  }

  .item1 {
    grid-row: 1 / span 2;
  }

.grid-container2 {
    display: grid;
    text-align: center;
    grid-template-columns:  auto 165px 120px auto;
    grid-gap: 1px;
    padding: 10px;
  }
